@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #343434;
}
.float-none{
    float:none;
}
button {
    cursor: pointer
}
button:focus {
    outline: none;
    cursor: pointer
}


/* -----------
    Login
---------------*/
.login-main{
    padding: 10vh 0;
}
.login-form {
    background: #fff;
    padding: 40px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}
.login-form .form-group  {
    padding: 5px 0;
}

.login-form .form-group .control-label {
    font-weight: 400;
    font-size: 18px;
    border: none;
    float: left;
}
.login-form .form-group .form-control  {
    padding: 0 10px;
    height: 45px;
    border: none;
    background: #fff;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 27%);
}
.login-form .btn {
    padding: 15px 55px;
    margin: 10px 0 0 0;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
}
.login-form .btn:hover {
    background: #343434;
    transition: all 0.3s ease;
    color: #fff;
}

.page-head h3 {
    padding:0;
    margin:25px 0 0 0;
    font-size: 27px;
}

/* -------------
    MANAGE USER
------------------*/

.user-table .table-item {
    width: 20%;
}



/* ------------
       Navbar
---------------*/
.logo-outer {
    padding: 15px;
    background: #f7f7f7;
}
#mobile-logo {
    display: none;
    width: 100%;
}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    float: left;
}


/* -----------------------
        RIGHT BAR
 -------------------------*/

.right-bar {
    background: #F5F5F5;
    padding:50px;
    min-width: 18%;
}
.greeting-txt {
    padding: 9% 0;
}
.bar-quick-links ul {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    list-style: none;
}
.bar-quick-links ul li {
    margin: 15px 0;
    width: 100%;
    float: left;
}

.bar-quick-links ul li a {
    padding: 25px 20px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
    color: #000;
    border-radius: 5px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 30px 40px;
    background: #f7f7f7;
    min-height: 100vh;
    width: 100% !important;
    position: relative;
    transition: all 0.3s;
}

.bg-none {
    background: none !important;
}


/*---------------
        INDEX
 ---------------*/

.admin-control .card a {
    width: 100%;
    padding: 25px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}
.admin-control .card a:hover {
    background: #FFA101;
    color: #fff;
}
/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  position: relative;
}

/* Change background color of buttons on hover */
.tab button:hover::before, .tab button.active::before {
    position: absolute;
    bottom: 0;
    content: '';
    width: 90%;
    height: 5px;
    background: #FFA101;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%)
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}

.delete-btn, .edit-btn, .open-btn {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0 10px !important;
    margin: 0;
}
.delete-btn:hover, .edit-btn:hover, .open-btn:hover {
    background: none;
    text-decoration: none;
}




.event-form .form-cell{
    padding: 0 10px;
}
.event-form h4 {
    margin: 0 -4px;
    padding: 0 0 14px 0;
    color: #FFA101;
}
.add-event-btn {
    float: right;
    margin: 30px 0 0 0;
    padding: 3px 36px;
    border-radius: 50px;
}
#duration::-webkit-datetime-edit-ampm-field {
   display: none;
 }

.search-outer{
    padding: 0 25px;
    width: 100%;
    float: left;
}
.search-field {
    width: 45%;
    float: left;
}
.btn-group {
    width: 20%;
    float: left;
}
.search-btn {
    width: 100%;
    float: left;
    border-radius: 0;
}
.search-form {
    width: 60%;
    float: left;
}
.status-dropdown {
    padding: 0.1px 7px;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}
.dropdown::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}



.h-400-scroll {
    max-height: 400px;
    overflow-y: scroll;
    padding-bottom: 0;
}
.h-400-scroll::-webkit-scrollbar {
  width: 5px;
}

.h-400-scroll::-webkit-scrollbar-track {
  background: #fff;        /* color of the tracking area */
  border-radius: 15px;

}

.h-400-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.08);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid rgba(0, 0, 0, 0.02);  /* creates padding around scroll thumb */
}

.h-250-scroll {
    max-height: 250px;
    overflow-y: scroll;
    padding-bottom: 0;
}


.add-btn {
    float: right;
}


.events {
    width: 100%;
    float: left;
}

.comment-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-btn {
    background: none !important;
    text-align: left;
    padding: 5px 10px;
}
.disp-none{
    display:none;
}

#successful_events g path {
    stroke: white;
    stroke-width: 15px;
}


#table1 th, #table2 th {
    cursor: pointer;
    transition: background 0.3s ease;
}
#table1 th:hover, #table2 th:hover {
    background: rgba(0, 0, 0, 0.02);
}
#table1_wrapper, #table2_wrapper {
    display: block;
    padding-top: 25px;
}
#table1_info, #table2_info {
    display: none;
}
#table1_filter {
    display: none;
}
#table1_length label, #table2_length label {
    display: block;
}
#table2_length label {
    display: block;
}
#table1_length .form-control , #table2_length .form_control{
    margin-right: 10px;
}
#table1_next, #table1_previous, #table2_next, #table2_previous {
    display:none;
}
.pagination {
    margin-top: 10px;
}
.paginate_button {
    margin: 0 2px;
}
.pagination .paginate_button a {
    width: 25px;
    height: 25px;
    display: flex;
    align-item: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 5px;
}















