{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add Booking{% endblock %}

{% block page_head %}Add Booking{% endblock %}



{% block navbar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 text-center">
        <div class="col-lg-10 col-md-10 col-xs-11 mx-auto float-left text-left">
            {% include 'event-form.html' %}

        </div>
    </div>
</div>
{% endblock %}



{% block custom_scripts %}

<script type="text/javascript">
$(function(){
    $('[type="date"]').prop('min', function(){
        return new Date().toJSON().split('T')[0];
    });
});


    function checkAddContact(elem) {
    if (elem.checked) {
        document.getElementById("additional-contact").classList.remove("d-none");
    }
    else {
        document.getElementById("additional-contact").classList.add("d-none");
    }
}

function checkRefContact(elem) {
    if (elem.checked) {
        document.getElementById("referee-contact").classList.remove("d-none");
    }
    else {
        document.getElementById("referee-contact").classList.add("d-none");
    }
}

document.getElementById('add-lnk').classList.add("active-link");

</script>
{% endblock %}
