{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Charts{% endblock %}
{% block page_head %}Charts{% endblock %}


{% block navbar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}
<div class="row pt-4">
    <div class="col-4">
        <form action="" method="POST" role="form">
            <div class="row">
                <div class="col-8">{{ form.days(class="form-control",id="search_days", type="Select") }}
                </div>
                <div class="col-4">{{ form.submit(class="btn btn-success add-event-btn m-0 float-left") }}</div>
            </div>
        </form>
    </div>
</div>
<div class="tab">
    <button class="tablinks active" onclick="switchTab(event, 'Barchart')">Event Data</button>
    <button class="tablinks" onclick="switchTab(event, 'Piechart')">Successful Events</button>
    <button class="tablinks" onclick="switchTab(event, 'CostChart')">Cost Charts</button>
</div>

<div id="Barchart" class="tabcontent pt-4" style="display:block">
    <div class="col-lg-7 mx-auto">
        <div class="card mb-0">
            <div class="card-body">
                <canvas id="EventChart"></canvas>
            </div>
        </div>
    </div>
</div>


<div id="Piechart" class="tabcontent pt-4">
    <div class="col-lg-7 mx-auto">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <canvas id="SuccessfulEvents"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="CostChart" class="tabcontent pt-4">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <canvas id="barChart1"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <canvas id="pieChartExample"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}

{% block custom_scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
function switchTab(evt, filter) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(filter).style.display = "block";
  evt.currentTarget.className += " active";
}


document.getElementById('charts-lnk').classList.add("active-link");

let pie_label = [];
let pie_data = [];

{% for data in doughnut_chart_data %}
                pie_label.push('{{data}}')
                pie_data.push('{{doughnut_chart_data[data]}}')
              {% endfor %}

let bar_label =  [];
let bar_data =  [];

{% for data in bar_graph_data %}
                bar_label.push('{{data}}')
                bar_data.push('{{bar_graph_data[data]}}')
              {% endfor %}


var months = {{ months|tojson }}
        let graph_labels = months;
        let graph_data2 = {{ graph_data2 }};


var event_type = {{ available_types|tojson }}
        let cost_chart_label = event_type;
        let cost_chart_data = {{ events_revenue }};





</script>
<script src="{{ url_for('static', filename='js/charts/Chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts/charts-main.js') }}"></script>
{% endblock %}