{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Charts{% endblock %}
{% block page_head %}Charts{% endblock %}


{% block navbar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-4">
        <form action="" method="POST" role="form">
            <div class="row">
                <div class="col-8">{{ form.days(class="form-control",id="search_days", type="Select") }}
                </div>
                <div class="col-4">{{ form.submit(class="btn btn-success add-event-btn m-0") }}</div>
            </div>
        </form>
    </div>
</div>
<div class="tab">
    <button class="tablinks active" onclick="switchTab(event, 'Barchart')">Event Data</button>
    <button class="tablinks" onclick="switchTab(event, 'Piechart')">Successful Events</button>
    <button class="tablinks" onclick="switchTab(event, 'Linegraph')">Time Data</button>
</div>

<div id="Barchart" class="tabcontent" style="display:block">
    <div class="col-lg-8">
        <div class="card mb-0">
            <div class="card-body">
                <canvas id="barChartExample"></canvas>
            </div>
        </div>
    </div>
    <div id="event_data"></div>
</div>


<div id="Piechart" class="tabcontent">

    <div class="col-lg-6">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <canvas id="doughnutChartExample"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="successful_events"></div>
</div>

<div id="Linegraph" class="tabcontent">


    <div id="chart_div3"></div>
</div>


{% endblock %}

{% block custom_scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
function switchTab(evt, filter) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(filter).style.display = "block";
  evt.currentTarget.className += " active";



}


google.load('visualization', '1.0', {'packages':['corechart']});

          google.setOnLoadCallback(drawChart);

          function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Status');
            data.addColumn('number', 'Number');
            data.addRows([
            {% for data in pie_chart_data %}
                ['{{data}}', {{pie_chart_data[data]}}],
              {% endfor %}
            ]);


            // Create the data table.
            var data2 = new google.visualization.DataTable();
            data2.addColumn('string', 'Type');
            data2.addColumn('number', 'Numbers');
            data2.addRows([
              {% for data in bar_graph_data %}
                ['{{data}}', {{bar_graph_data[data]}}],
              {% endfor %}
            ]);

            var data3 = new google.visualization.DataTable();
            data3.addColumn('string', 'Year');
            data3.addColumn('number', 'Sales');
            data3.addRows([
              ['2004', 1000],
              ['2005', 1170],
              ['2006',  860],
              ['2007', 1030]
            ]);

            // Set chart options
            var options = {
                           'width':900,
                           'height':800,
                            'stroke': '#000',
                            'pieSliceText': 'none',
                            pieSliceBorderWidth: 8,
                                slices: [{color: 'red'}, {color: 'LightGreen'}, {color: 'Yellow'}, {}]
                           }

            // Set chart options
            var options2 = {
                           'width':900,
                           'height':800,
                           };
            // Set chart options
            var options3 = {
                           'width':400,
                           'height':300};

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('successful_events'));
            chart.draw(data, options);
            var chart2 = new google.visualization.ColumnChart(document.getElementById('event_data'));
            chart2.draw(data2, options2);
            var chart3 = new google.visualization.LineChart(document.getElementById('chart_div3'));
            chart3.draw(data3, options3);

          }
document.getElementById('charts-lnk').classList.add("active-link");

let pie_label = [];
let pie_data = [];

{% for data in pie_chart_data %}
                pie_label.push('{{data}}')
                pie_data.push('{{pie_chart_data[data]}}')
              {% endfor %}

let bar_label =  [];
let bar_data =  [];

{% for data in bar_graph_data %}
                bar_label.push('{{data}}')
                bar_data.push('{{bar_graph_data[data]}}')
              {% endfor %}



</script>
<script src="{{ url_for('static', filename='js/charts/Chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts/charts-main.js') }}"></script>
{% endblock %}