{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Event{% endblock %}

{% block navbar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}
<div id="piechart"></div>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
         ['Element', 'Density', { role: 'style' }],
            {%for data in graph_data %}
            ['{{ data }}', {{graph_data[data]}}, 'color: #e5e4e2' ], // CSS-style declaration
            {% endfor %}
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Density of Precious Metals, in g/cm^3",
        width: 800,
        height: 800,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("piechart"));
      chart.draw(view, options);
}
</script>
{% endblock %}
{% block side_bar %}{% include 'right-bar.html' %}{% endblock %}