{% extends 'base.html' %}

{% block title %}Manage Events{% endblock %}
{% block page_head %}Clients{% endblock %}


{% block navbar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}
<table class="table mb-0 table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Contact</th>
                                    <th>Company</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for client in clients %}
                                <tr>
                                    <td><a href="#">{{client.client_first_name.title()}}</a></td>
                                    <td>{{client.client_last_name}}</td>
                                    <td>{{client.client_email}}</td>
                                    <td>{{client.primary_contact}}</td>
                                    <td>{{client.company_name}}</td>
                                    <td>
                                        <a class="edit-btn"
                           href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.846" height="17.849"
                                 viewBox="0 0 17.846 17.849">
                                <path id="edit_baseline"
                                      d="M4.5,18.627v3.718H8.217L19.181,11.38,15.464,7.662ZM22.056,8.5a.988.988,0,0,0,0-1.4l-2.32-2.32a.987.987,0,0,0-1.4,0L16.525,6.6l3.717,3.718L22.056,8.5Z"
                                      transform="translate(-4.5 -4.496)" fill="#f39800"/>
                            </svg>

                        </a>
                        {% if current_user.role.role_id == 1 %}
                        <button class="delete-btn"
                                onclick="deleteEvent('#')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.737" height="17.849"
                                 viewBox="0 0 14.737 17.849">
                                <path id="delete_baseline"
                                      d="M8.553,20.366a2.053,2.053,0,0,0,2.105,1.983h8.421a2.053,2.053,0,0,0,2.105-1.983V8.466H8.553ZM22.237,5.492H18.553L17.5,4.5H12.237l-1.053.992H7.5V7.475H22.237Z"
                                      transform="translate(-7.5 -4.5)" fill="#f39800"/>
                            </svg>

                        </button>
                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>

{% endblock %}
{% block custom_scripts %}
<script>
        function deleteEvent(redirect) {
            var txt;
            var isAdd = confirm("Do you want to delete the selected event?");
            if (isAdd == true) {
                window.location.href = redirect;
            }
        }
</script>
{% endblock %}
