{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Event{% endblock %}


{% block navbar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-sm-12 text-center">
        <div class="col-lg-10 col-md-10 col-xs-11 mx-auto float-left text-left">
            {% include 'event-form.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
$(function(){
    $('[type="date"]').prop('min', function(){
        return new Date().toJSON().split('T')[0];
    });
});

document.getElementById("additional-contact").classList.remove("d-none");
document.getElementById("additional-contact").classList.add("mt-4");
document.getElementById("referee-contact").classList.remove("d-none");
document.getElementById("referee-contact").classList.add("mt-4");
var checkBox = document.getElementsByClassName("ck-box");
checkBox[0].classList.add("d-none");
checkBox[1].classList.add("d-none");


</script>
{% endblock %}
{% block side_bar %}{% include 'right-bar.html' %}{% endblock %}
