{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block page_head %}Index{% endblock %}


{% block navbar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}

<section class="pb-0">
    <div class="container-fluid">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row gx-5 bg-white">
                    <!-- Item -->
                    <a href="{{ url_for('phototainment.upcoming_events') }}"
                       class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="d-flex align-items-center">
                            <div class="number">
                                <strong class="text-lg">{{event_num}}</strong>
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-0">Upcoming<br>Events</h6>
                            </div>
                        </div>
                    </a>
                    <!-- Item -->
                    <a href="{{ url_for('phototainment.add_event') }}"
                       class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-red">
                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                    <use xlink:href="#survey-1"></use>
                                </svg>
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-0">Create<br>Bookings</h6>
                            </div>
                        </div>
                    </a>
                    <!-- Item -->
                    <a href="{{ url_for('phototainment.search_event') }}"
                       class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-green">
                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                    <use xlink:href="#find-1"></use>
                                </svg>
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-0">Search<br>Bookings</h6>
                            </div>
                        </div>
                    </a>
                    <!-- Item -->
                    <a href="{{ url_for('phototainment.client_table') }}" class="col-xl-3 col-sm-6 py-4">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-orange">
                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                    <use xlink:href="#user-1"></use>
                                </svg>
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-0">Search<br>Client</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% if current_user.role.role_id == 1 %}
<section class="pb-0">
    <div class="container-fluid">
        <div class="row align-items-stretch">
            <div class="col-lg-3 col-12">
                <a href="{{ url_for('phototainment.register') }}" class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-red"><i class="fas fa-user-plus"></i></div>
                            <div class="ml-3"><strong class="text-md d-block line-height-1 mb-1">Add</strong><strong
                                    class="text-md d-block lh-1 mb-1">New User</strong></div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('phototainment.manage_user') }}" class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-green"><i class="far fa-calendar"></i></div>
                            <div class="ml-3"><strong class="text-md d-block lh-1 mb-1">Manage</strong><strong
                                    class="text-md d-block lh-1 mb-1">Existing User</strong></div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('phototainment.generate_report') }}" class="card mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-orange"><i class="fas fa-download"></i></div>
                            <div class="ml-3"><strong class="text-md d-block lh-1 mb-1">Download</strong><strong
                                    class="text-md d-block lh-1 mb-1">Progress Reports</strong></div>
                        </div>
                    </div>
                </a>
                <div class="col-lg-12 pt-3 p-0">
                    <div class="card mb-0">
                        <div class="card-header position-relative px-4">
                            <h3 class="h4 mb-0">Users</h3>
                        </div>
                        <ul class="card-body h-400-scroll h-250-scroll p-0">
                            {% for user in users %}
                            <li class="p-3 d-flex justify-content-between">
                                <div class="d-flex">
                                    <div class="ms-3">
                                        <h5 class="font-weight-normal text-gray-600 mb-1">{{user.username.title()}}</h5>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Line Chart            -->
            <div class="col-lg-9 col-12">
                <div class="card mb-0 h-100">
                    <div class="card-header position-relative px-4">
                        <h3 class="h4 mb-0">Monthly Events</h3>
                        <div class="card-close">
                            <a href="#" class=""></a>
                            <button id="btnDownload" class="dropdown-toggle save-btn text-sm" type="button">Save</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="monthlyEventChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<section class="py-6">
    <div class="container-fluid">
        <div class="row align-items-stretch">
            <div class="col">
                <div class="card mb-0">
                    <div class="card-header">
                        <h3 class="h4 mb-0">Events this week</h3>
                    </div>
                    <div class="card-body h-400-scroll p-0">
                        <div class="table-responsive">
                            <table class="table mb-0 table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Event Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for event in upcoming_events %}
                                <tr>
                                    <td>
                                        <a href="{{url_for('phototainment.view_booking', booking_id = event[0].booking_id)}}">{{event.client_first_name.title()}}
                                            {{event.client_last_name.title()}}</a></td>
                                    <td>{{event[0].event_name.title()}}</td>
                                    <td>{{event[0].event_date.strftime("%d/%m/%y")|safe}}</td>
                                    <td>{{event[0].event_date.strftime("%I:%M %p")|safe}}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 p-0">
                <div class="col-lg-12">
                    <div class="card mb-0">
                        <div class="card-header position-relative px-4">
                            <div class="card-close">
                                <a href="#" class=""></a>
                                <button class="dropdown-toggle text-sm" type="button" data-bs-toggle="modal"
                                        data-bs-target="#addCompany"><i class="fas fa-plus"></i></button>
                            </div>
                            <div class="modal fade text-start" id="addCompany" tabindex="-1"
                                 aria-labelledby="addCompanyLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addCompanyLabel">Add New Type</h5>
                                            <button class="btn-close" type="button" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="{{ url_for('phototainment.add_company') }}">
                                                <div class="mb-3">
                                                    <label class="form-label control-label" for="type_name">Company
                                                        Name</label>
                                                    {{ company_form.company_name(class="form-control",id="type_name",
                                                    required="required", type="text", placeholder="Company Name", autocomplete="off") }}
                                                </div>

                                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                {{ company_form.submit(class="btn btn-success") }}

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="h4 mb-0">Associated Companies</h3>
                        </div>
                        <ul class="card-body h-400-scroll p-0">
                            <!-- Item-->
                            {% for company in associated_companies %}
                            <li class="p-3 d-flex justify-content-between">
                                <div class="d-flex">
                                    <div class="ms-3">
                                        <h5 class="font-weight-normal text-gray-600 mb-1">{{company.title()}}</h5>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% if current_user.role.role_id == 1 %}
            <div class="col-lg-3 p-0">
                <div class="col-lg-12">
                    <div class="card mb-0">
                        <div class="card-header position-relative px-4">
                            <div class="card-close">
                                <a href="#" class=""></a>
                                <button class="dropdown-toggle text-sm" type="button" data-bs-toggle="modal"
                                        data-bs-target="#myModal"><i class="fas fa-plus"></i></button>
                            </div>
                            <div class="modal fade text-start" id="myModal" tabindex="-1" aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel">Add New Type</h5>
                                            <button class="btn-close" type="button" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="{{ url_for('phototainment.add_event_type') }}">
                                                <div class="mb-3">
                                                    <label class="form-label control-label" for="type_name">Type
                                                        Name</label>
                                                    {{ type_form.type_name(class="form-control",id="type_name",
                                                    required="required", type="text", placeholder="Type Name", autocomplete="off") }}
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label control-label" for="type_description">Type
                                                        Description</label>
                                                    {{
                                                    type_form.type_description(class="form-control",id="type_description",
                                                    required="required", type="text", placeholder="Type Description", autocomplete="off") }}
                                                </div>
                                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                {{ type_form.submit(class="btn btn-primary") }}

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="h4 mb-0">Event Types</h3>
                        </div>
                        <ul class="card-body h-400-scroll p-0">
                            <!-- Item-->
                            {% for type in event_types %}
                            <li class="p-3 d-flex justify-content-between">
                                <div class="d-flex">
                                    <div class="ms-3">
                                        <h5 class="font-weight-normal text-gray-600 mb-1">{{type.event_type}}</h5>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>


<section class="py-2">
    <div class="container-fluid">
        <div class="col-lg-12 p-0">
            <div class="card mb-0">
                <div class="card-header">
                    <h3 class="h4 mb-0">
                        <div class="tab">
                            <button class="tablinks active" onclick="switchTab(event, 'Bookings')">New Bookings
                            </button>
                            <button class="tablinks" onclick="switchTab(event, 'Pending')">Pending</button>
                            <button class="tablinks" onclick="switchTab(event, 'Completed')">Recently Completed</button>
                        </div>
                    </h3>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <div id="Bookings" class="tabcontent" style="display:block">
                            {% with filtered_events=all_bookings %}
                            {% include 'events-table.html' %}
                            {% endwith %}
                        </div>

                        <div id="Pending" class="tabcontent">
                            {% with filtered_events=pending_bookings %}
                            {% include 'events-table.html' %}
                            {% endwith %}
                        </div>

                        <div id="Completed" class="tabcontent">
                            {% with filtered_events=completed_bookings %}
                            {% include 'events-table.html' %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block custom_scripts %}
<script>
function switchTab(evt, filter) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(filter).style.display = "block";
  evt.currentTarget.className += " active";
}

    document.getElementById('dashboard-lnk').classList.add("active-link");



        var months = {{ months|tojson }}

        let graph_labels = months;
        let graph_data1 = {{ graph_data1 }};
        let graph_data2 = {{ graph_data2 }};
        graph_data1.push(0)
        graph_data2.push(0)


 const monthlyEventChart = document.getElementById('monthlyEventChart');
 const btnDownload = document.getElementById('btnDownload');
 btnDownload.addEventListener("click", function(){
    const dataURI = monthlyEventChart.toDataURL("image/jpeg", 1)
        const a = document.createElement("a");

        document.body.appendChild(a);
        a.href = dataURI;
        a.download = "monthly-report.jpg";
        a.click()
        document.body.removeChild(a);

 });




</script>
<script src="{{ url_for('static', filename='js/charts/Chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts/chart-index.js') }}"></script>

{% endblock %}
