{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block page_head %}Index{% endblock %}


{% block navbar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}




<p>{{ message }}</p>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <div id="message-out" class="alert alert-warning">
        <button type="button" onclick="closeMessage()" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
{% endfor %}
{% endif %}
{% endwith %}


<section class="pb-0">
    <div class="container-fluid">
        <div class="card mb-0">
            <div class="card-body">
                <div class="row gx-5 bg-white">
                    <!-- Item -->
                    <a href="{{ url_for('phototainment.upcoming_events') }}"
                       class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-violet">
                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                    <use xlink:href="#time-1"></use>
                                </svg>
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-3">Upcoming<br>Events</h6>
                            </div>
                            <div class="number"><strong class="text-lg">25</strong></div>
                        </div>
                    </a>
                    <!-- Item -->
                    <a href="{{ url_for('phototainment.add_event') }}"
                       class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-red">
                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                    <use xlink:href="#survey-1"></use>
                                </svg>
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-3">Create<br>Bookings</h6>
                            </div>
                        </div>
                    </a>
                    <!-- Item -->
                    <a href="{{ url_for('phototainment.search_event') }}"
                       class="col-xl-3 col-sm-6 py-4 border-lg-end border-gray-200">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-green">
                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                    <use xlink:href="#find-1"></use>
                                </svg>
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-3">Search<br>Bookings</h6>
                            </div>
                        </div>
                    </a>
                    <!-- Item -->
                    <a href="#" class="col-xl-3 col-sm-6 py-4">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-orange">
                                <svg class="svg-icon svg-icon-sm svg-icon-heavy">
                                    <use xlink:href="#user-1"></use>
                                </svg>
                            </div>
                            <div class="mx-3">
                                <h6 class="h4 fw-light text-gray-600 mb-3">Search<br>Client</h6>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% if current_user.role.role_id == 1 %}
<section class="pb-0">
    <div class="container-fluid">
        <div class="row align-items-stretch">
            <!-- Statistics -->
            <div class="col-lg-3 col-12">
                <a href="{{ url_for('phototainment.register') }}" class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-red"><i class="fas fa-user-plus"></i></div>
                            <div class="ms-3"><strong class="text-md d-block lh-1 mb-1">Add</strong><strong
                                    class="text-md d-block lh-1 mb-1">New User</strong></div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('phototainment.manage_user') }}" class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-green"><i class="far fa-calendar"></i></div>
                            <div class="ms-3"><strong class="text-md d-block lh-1 mb-1">Manage</strong><strong
                                    class="text-md d-block lh-1 mb-1">Existing User</strong></div>
                        </div>
                    </div>
                </a>
                <a href="{{ url_for('phototainment.generate_report') }}" class="card mb-0">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="icon flex-shrink-0 bg-orange"><i class="fas fa-download"></i></div>
                            <div class="ms-3"><strong class="text-md d-block lh-1 mb-1">Download</strong><strong
                                    class="text-md d-block lh-1 mb-1">Progress Reports</strong></div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Line Chart            -->
            <div class="col-lg-9 col-12">
                <div class="card mb-0 h-100">
                    <div class="card-body">
                        <canvas id="lineChartExample"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-2">
    <div class="row">
        <div class="col-lg-3 col-12">
            <div class="col-lg-12">
                <div class="card mb-0">
                    <div class="card-header position-relative px-4">
                        <div class="card-close">
                            <a href="#" class=""></a>
                            <button class="dropdown-toggle text-sm" type="button" data-bs-toggle="modal"
                                    data-bs-target="#myModal"><i class="fas fa-plus"></i></button>
                        </div>


                        <div class="modal fade text-start" id="myModal" tabindex="-1" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Add New Type</h5>
                                        <button class="btn-close" type="button" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post">
                                            <div class="mb-3">
                                                <label class="form-label control-label" for="type_name">Type
                                                    Name</label>
                                                {{ type_form.type_name(class="form-control",id="type_name",
                                                required="required", type="text", placeholder="Type Name") }}
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label control-label" for="type_description">Type
                                                    Name</label>
                                                {{
                                                type_form.type_description(class="form-control",id="type_description",
                                                required="required", type="text", placeholder="Type Description") }}
                                            </div>
                                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button class="btn btn-primary" type="submit">Submit</button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <h3 class="h4 mb-0">Event Types</h3>
                    </div>
                    <ul class="card-body p-0">
                        <!-- Item-->
                        {% for type in event_types %}
                        <li class="p-3 d-flex justify-content-between">
                            <div class="d-flex">
                                <div class="ms-3">
                                    <h5 class="fw-normal text-gray-600 mb-1">{{type.event_type}}</h5>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">sadf</div>
        <div class="col-5">sadf</div>
    </div>
</section>
{% endif %}


<section class="index-tables">
    <div class="tab">
        <button class="tablinks active" onclick="switchTab(event, 'Bookings')">Recent Bookings</button>
        <button class="tablinks" onclick="switchTab(event, 'Pending')">Pending</button>
        <button class="tablinks" onclick="switchTab(event, 'Completed')">Recently Completed</button>
    </div>


    <div id="Bookings" class="tabcontent" style="display:block">
        {% with filtered_events=all_bookings %}
        {% include 'events-table.html' %}
        {% endwith %}
    </div>

    <div id="Pending" class="tabcontent">
        {% with filtered_events=pending_bookings %}
        {% include 'events-table.html' %}
        {% endwith %}
    </div>

    <div id="Completed" class="tabcontent">
        {% with filtered_events=completed_bookings %}
        {% include 'events-table.html' %}
        {% endwith %}
    </div>
</section>


{% endblock %}

{% block custom_scripts %}
<script>
function switchTab(evt, filter) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(filter).style.display = "block";
  evt.currentTarget.className += " active";
}
    document.getElementById('dashboard-lnk').classList.add("active-link");


    function closeMessage() {
        document.getElementById('message-out').classList.add("d-none");
        }


        let graph_data =  [30, 50, 40, 61, 42, 35, 40]


</script>
<script src="{{ url_for('static', filename='js/charts/Chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts/chart-index.js') }}"></script>

{% endblock %}
