{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Generate Report{% endblock %}

{% block page_head %}Generate Report{% endblock %}

{% block navbar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}


<form action="{{ url_for('phototainment.download_report') }}" method="post">
    <div class="col-lg-5 mx-auto mt-4">
        <div class="card col-12 mb-0">
            <div class="card-header">
                <h3 class="h4 mb-0">Select date range</h3>
            </div>
            <div class="card-body p-0 pb-4">
                <div class="col-12 mx-auto pt-3">
                    <div class="row">
                        <div class="form-group required col-6 form-cell">
                            <label class="control-label" for="from_date">From Date</label>
                            {{form.from_date(class="form-control",id="from_date",type="Date",
                            value=start_date.strftime('%Y-%m-%d'))
                            }}
                        </div>
                        <div class="form-group required col-6 form-cell">
                            <label class="control-label" for="to_date">To Date</label>
                            {{form.to_date(class="form-control",id="to_date",type="Date",
                            value=today.strftime('%Y-%m-%d'))
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-12 mt-3">
            <div class="card-header">
                <h3 class="h4 mb-0">Filter Report By</h3>
            </div>
            <div class="card-body p-0">
                <div class="col-12 mx-auto pt-3">
                    <div class="row">
                        <div class="form-group required col-6 form-cell">
                            <label class="control-label" for="user">Select User</label>
                            {{form.user_field(class="form-control",id="user",type="Select") }}
                        </div>
                        <div class="form-group required col-6 form-cell">
                            <label class="control-label" for="event_type">Select Event Type</label>
                            {{form.event_type(class="form-control",id="event_type",type="Select") }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0 pb-4">
                <div class="col-12 mx-auto pt-3">
                    <div class="row">
                        <div class="form-group required col-6 form-cell">
                            <label class="control-label" for="status">Select Status</label>
                            {{form.status(class="form-control",id="status",type="Select") }}
                        </div>
                        <div class="form-group required col-6 form-cell">
                            <label class="control-label" for="company">Select Company</label>
                            {{form.company(class="form-control",id="company",type="Select") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 p-0 d-flex justify-content-center">
            {{ form.submit(class="btn btn-success m-0 float-right") }}
        </div>
    </div>
</form>


{% endblock %}


{% block custom_scripts %}
<script type="text/javascript">
$(function(){
    $('[type="Date"]#to-date, [type="Date"]#from-date').prop('max', function(){
        return new Date().toJSON().split('T')[0];
    });
});





</script>
{% endblock %}

