{% extends 'base.html' %}

{% block title %}Manage Events{% endblock %}
{% block page_head %}Manage Events{% endblock %}


{% block navbar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}
<div class="row m-0 pt-4">
    <div class="text-center search-outer">
        <div class="form-group required">


            <div class="col-sm-9 p-0">
                <form action="" method="POST" role="search" class="search-form">
                    <div class="input-group">
                        {{ form.search(class="form-control search-field",id="search",type="text") }}
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Dropdown
                        </button>
                        <ul class="dropdown-menu shadow-sm text-left">
                            <li>{{ form.search_fname(class="btn search-btn dropdown-btn") }}</li>
                            <li>{{ form.search_lname(class="btn search-btn dropdown-btn") }}</li>
                            <li>{{ form.search_email(class="btn search-btn dropdown-btn") }}</li>
                            <li>{{ form.search_contact(class="btn search-btn dropdown-btn") }}</li>
                            <li>{{ form.search_evname(class="btn search-btn dropdown-btn") }}</li>
                            <li>{{ form.search_evtype(class="btn search-btn dropdown-btn") }}</li>
                            <li>{{ form.search_staff(class="btn search-btn dropdown-btn") }}</li>
                        </ul>
                    </div>
                </form>
            </div>

            <a href="{{ url_for('phototainment.add_event') }}" class="add-btn btn btn-success ml-4">Add New Eent</a>
        </div>
    </div>
</div>

{% include 'events-table.html' %}

{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
             $(document).ready(function () {
                 $('.search-dropdown-toggle').on('click', function () {
                     $('.search-dropdown-menu').toggleClass('show');
                 });
             });
             $(document).ready(function () {
                 $('.sort-dropdown-toggle').on('click', function () {
                     $('.sort-dropdown-menu').toggleClass('show');
                 });
             });
document.getElementById('search-lnk').classList.add("active-link");

</script>

{% endblock %}
