{% extends 'base.html' %}

{% block title %}Upcoming Events{% endblock %}
{% block page_head %}Upcoming Events in {{ days }} days{% endblock %}


{% block navbar %}{% include 'sidebar.html' %}{% endblock %}
{% block content %}

<div class="events pt-4">
    <div class="row">

        <div class="col-sm-4">
            <form method="post" class="row g-3 align-items-center">
                <div class="col-lg">
                    <div class="input-group">
                        {{ form.days(class="form-control", id="search_days", type="Select") }}
                    </div>
                </div>

                <div class="col-lg">
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </form>
        </div>

    </div>
    {% include 'events-table.html' %}
</div>

{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
    $(document).ready(function () {
                 $('.dropdown-toggle').on('click', function () {
                     $('.dropdown-menu').toggleClass('show');
                 });
             });
document.getElementById('upcoming-lnk').classList.add("active-link");

</script>
<script type="text/javascript">
   $(function() {
    $("#table1").dataTable({
        "iDisplayLength": 5,
        "aLengthMenu": [[5, 10, 25, 50,  -1], [5, 10, 25, 50, "All"]]
       });
   });
   table.destroy();
  </script>
{% endblock %}
