<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.bundle.min.js') }}" type="text/javascript"></script>

</head>
<body>


<div class="wrapper">
    <div class="navbar-header">
        <!-- Navbar Brand --><a class="navbar-brand d-none d-sm-inline-block" href="index.html">
        <a class="menu-btn active" id="toggle-btn" href="#"><span></span><span></span><span></span></a>
        <div class="brand-img d-none d-lg-inline-block"><img
                src="{{ url_for('static', filename='img/logo.png') }}"
                alt="logo"/>
        </div>


    </a>
    </div>
    <div class="page-body row">
    {% block navbar %}{% endblock %}
    <div id="main-content" class="content-inner col-xs-12 col-xl-10">
        <!-- Page Header-->

        <header class="bg-white shadow-sm px-4 py-3 z-index-20">
            <div class="container-fluid px-0">
                <h2 class="mb-0 p-1">{% block page_head %}{% endblock %}</h2>
            </div>
        </header>
        {% block content %}{% endblock %}
{% block side_bar %}{% endblock %}

    </div>
        </div>

        {% block custom_scripts %}{% endblock %}
    <script type="text/javascript">
             {% if request.url_rule.endpoint == "login" %}
                document.getElementById('content').classList.add("bg-none");
             {% endif %}



    </script>
    <script src="{{ url_for('static', filename='js/all.js') }}" type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/theme.js') }}" type="text/javascript"></script>

    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite -
      //   see more here
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {

          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // this is set to BootstrapTemple website as you cannot
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');



    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>
</html>

