<div class="right-bar col-xl-2 col-lg-3 col-md-3">
    <div class="row py-4 greeting-outer">
        <div class="col-5 greeting-img">
            <img src="{{ url_for('static', filename='img/user.png') }}" alt="user"/>
        </div>
        <div class="col-7 text-left greeting-txt">
            <p class="m-0">Hello</p>
            <p class="m-0">{{ current_user.username.title() }}</p>
        </div>

    </div>
    <div class="row">
        <div class="bar-quick-links col-12 p-0">
            <ul>
                <li><a href="#">Search Customer</a></li>
                {% if current_user.role.role_id == 1 %}
                <li><a href="{{ url_for('phototainment.register') }}">Add User</a></li>
                <li><a href="{{ url_for('phototainment.manage_user') }}">Manage User</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>