<div class="right-bar col-xl-2 col-lg-3 col-md-3">
    <form method="post">
        <input type="text">
        <button type="submit">S</button>
    </form>
    <div class="row py-5 greeting-outer">
        <div class="col-7 text-right greeting-txt">
            <p class="m-0">Hello</p>
            <p class="m-0">{{ current_user.username.title() }}</p>
        </div>
        <div class="col-5 greeting-img">
            <img src="{{ url_for('static', filename='img/user.png') }}" alt="user" />
        </div>
    </div>
    <div class="row">
    <div class="bar-quick-links col-12 p-0">
        <ul>
            <li><a href="#">Search Customer</a></li>
            <li><a href="#">Add User</a></li>
            <li><a href="#">Manage User</a></li>
        </ul>
    </div>
        </div>
</div>